# Agent key


# Mockdata for testing
EXTERNAL_POSTGRES_HOST=
EXTERNAL_POSTGRES_PORT=
EXTERNAL_POSTGRES_DATABASE=
EXTERNAL_POSTGRES_USER=
EXTERNAL_POSTGRES_PASSWORD=

CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_DATABASE=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=

SSH_HOST=
SSH_PORT=
SSH_USER=
SSH_PASSWORD=